@charset "UTF-8";

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.top-container {
    display: block;
    background-color: rgba(190, 226, 190, 0.603);
    width: 100%;
}

.title-main {
    padding-top: 80px;
}

.intro {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

.xp {
    width: 100%;
}

.mid-container {
    padding-top: 120px;
    text-align: center;
}

.mountain {
    height: 300px;
}

.avatar {
    height: 200px;
    margin: 0;
    padding-bottom: 50px;
}

.separadora {
    height: 20px;
    opacity: 0.4;
    padding: 50px;
}

.pro {
    padding: 0;
}

.laptop {
    padding-bottom: 30px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 60%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2em;
    padding: 0;
}

.laptop1, .laptop2 {
    display: block;
    text-align: center;
    padding-top: 19px;
}

.exp1, .exp2 {
    display: block;
    width: 90%;
}

@media (max-width: 700px) {
    .mountain {
        height: 120px;
    }

    h1 {
        font-size: 1em;
    }

    .skills {
        display: block;
        text-align: center;
    }

    .exp1, .exp2 {
        display: block;
        text-align: center;
        margin: auto;
    }
}

h1 {
    margin: 0;
    font-size: 3.5em;
    color: #A1C3AA;
}

h2 {
    padding: 20px;
    color: #A1C3AA;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#subtitle {
    font-size: 2em;
    padding-bottom: 90px;
}

