@charset "UTF-8";

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.top-container {
    display: block;
    background-color: rgba(190, 226, 190, 0.603);
    width: 100%;
}

.title-main {
    padding-top: 80px;
}

.intro {
    width: 45%;
    margin: auto;
    padding-top: 50px;
    font-size: 1.2em;
}

.xp {
    width: 100%;
}

.mid-container {
    padding-top: 85px;
    text-align: center;
}

.contact-container {
    width: 45%;
    margin: auto;
    font-size: 1.2em;
}

.mountain {
    height: 300px;
}

.avatar {
    height: 200px;
    margin: 0;
    padding-bottom: 50px;
}

.separadora {
    height: 20px;
    opacity: 0.4;
    padding: 50px;
}

.pro {
    padding: 0;
}

.laptop {
    padding-bottom: 30px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    width: 40%;
    margin: 60px auto 0 auto;
    text-align: left;
    row-gap: 2em;
    padding: 0;
}

.laptop1, .laptop2 {
    display: block;
    text-align: center;
    padding-top: 19px;
    margin: 0;
}

.exp1, .exp2 {
    display: block;
    width: 95%;
}

@media (max-width: 700px) {
    .mountain {
        height: 120px;
    }

    h1 {
        font-size: 1em;
    }

    .skills {
        display: block;
        text-align: center;
    }

    .exp1, .exp2 {
        display: block;
        text-align: center;
        margin: auto;
    }

    .contact {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
 
    }
}

h1 {
    margin: 0;
    font-size: 3.5em;
    color: #A1C3AA;
}

h2 {
    padding: 20px;
    color: #A1C3AA;
    display: block;
    font-size: 1.17em;

    font-weight: bold;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(116, 116, 116);
    font-weight: 500;
}

#subtitle {
    font-size: 2em;
    padding-bottom: 90px;
}

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
    background: #A1C3AA;
    border-radius: 8px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #A1C3AA, #6f8a76);
}

.contact {
    padding: 30px;
}

.footer {
    background-color: #A1C3AA;
    margin-top: 100px;
    padding: 50px;
}