@charset "UTF-8";

* {
    text-align: center;
}

.top-container {
    display: block;
    background-color: rgba(190, 226, 190, 0.603);
    width: 100%;
    padding: 0;
    margin: 0;
}

.top-cloud {
    position: absolute;
    right: 500px;
    top: 50px;
}

.cloud-bottom {
    position: absolute;
    right: 600px;
    top: 150px;
}

.cloud-bottom {
    display: flex;
    margin-left: 200px;
}

.mountain {
    height: 300px;
}

